{include file="header.tpl.html"}

             <div style="padding:0px 15px 20px 15px;">
                <h1 class="inner">Support &amp; FAQ</h1>
                <div>
                  <div class="ourprojectrow"> <img src="./template/images/ico-support.png" width="144" height="117" align="right" alt="Support/FAQ" />
                    <div class="blog-posted-row"> Posted on 04. Dec, 2015 by <a href="#">admin</a></div>
                    <div>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin  sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Proin sed odio et ante adipiscing  lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis  arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing  lobortis.</p>
                      <p>Quisque eleifend, arcu a dictum varius, risus  neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et  ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis.</p>
                    </div>
                    <div class="insidereadmore"><a href="#">Read Commnets</a></div>
                  </div>
                  <div class="ourprojectrow">
                    <h6 class="inner">Question One</h6>
                    <div class="blog-posted-row">&nbsp;&nbsp;Posted on 04. Dec, 2015 by <a href="#">admin</a></div>
                    <div>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin  sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Proin sed odio et ante adipiscing  lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis  arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing  lobortis.</p>
                      <p>Quisque eleifend, arcu a dictum varius, risus  neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et  ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis.</p>
                    </div>
                    <div class="insidereadmore"><a href="#">Read Commnets</a></div>
                  </div>
                  <div class="ourprojectrow">
                    <h6 class="inner">Question Two</h6>
                    <div class="blog-posted-row">&nbsp;&nbsp;Posted on 04. Dec, 2015 by <a href="#">admin</a></div>
                    <div>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin  sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Proin sed odio et ante adipiscing  lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis  arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing  lobortis.</p>
                      <p>Quisque eleifend, arcu a dictum varius, risus  neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et  ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis.</p>
                    </div>
                    <div class="insidereadmore"><a href="#">Read Commnets</a></div>
                  </div>
                  <div class="ourprojectrow">
                    <h6 class="inner">Question Three</h6>
                    <div class="blog-posted-row">&nbsp;&nbsp;Posted on 04. Dec, 2015 by <a href="#">admin</a></div>
                    <div>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin  sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Proin sed odio et ante adipiscing  lobortis. Quisque eleifend, arcu a dictum varius, risus neque venenatis  arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing  lobortis.</p>
                      <p>Quisque eleifend, arcu a dictum varius, risus  neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et  ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis.</p>
                    </div>
                    <div class="insidereadmore"><a href="#">Read Commnet</a></div>
                  </div>
                </div></div>
            

{include file="footer.tpl.html"}